
<div class="homecomponent row"> 
  <div class="col-sm-6">
    <h1 class="hd-booking">Book an appointment.</h1>
    <span class="span-reason">Reason for visit<br></span>
    <span class="medicalcenter">What is the name of your medical centre or doc</span>
    <div class="container px-0">
        <h4 data-toggle="dropdown" class="dropdown">
            <span class="selecappoitdrp"> Select Appointment Type </span><i class="fa fa-angle-down"></i>
        </h4>
        <ul class="dropdown-menu w-25">
            <a class="dropdown-item px-2" href="#">
                <img class="img-fluid rounded-circle bg-info" src="//robohash.org/ags.png?size=35x35"> Choice1
            </a>
            <a class="dropdown-item px-2" href="#">
                <img class="img-fluid rounded-circle bg-warning" src="//robohash.org/aas.png?size=35x35"> Choice1
            </a>
            <a class="dropdown-item px-2" href="#">
                <img class="img-fluid rounded-circle bg-danger" src="//robohash.org/4as.png?size=35x35"> Choice1
            </a>
            <a class="dropdown-item px-2" href="#">
                <img class="img-fluid rounded-circle bg-primary" src="//robohash.org/6as.png?size=35x35"> Choice1
            </a>
        </ul>
    </div> 
    <!-- End Dropdown -->
    <div class="container px-0">
      <!-- <input class="search-icon" type="text" placeholder="Search Medical Centre or Doctor..."/> -->
      <div class="btn-group">
          <input id="searchinput" placeholder="Search Medical Centre or Doctor" type="search" class="searchinput form-control">
          <button id="searchclear" class="btn btn-md searchbtn">Search</button>
       </div>
    </div>
  </div>
  <div class="col-sm-6 bookinbg"></div>
</div>

<div class="row andios">
<div class="col-sm-6">
  <p>
      Book your favourite Doctor faster using the Book H.D app
  </p>
  <span class="d-block">
      Available on iOS & Android 
  </span>
<div class="d-inline">
  <img src="assets/img/isonapp.png">
  <img src="assets/img/android.png">
</div>
</div>
<div class="col-sm-6 isonandroid">
    <img src="assets/img/isonandroid.png">
</div>
</div>

 
