body{
    background-image: url(assets/img/bgWelcom.png);
    background-repeat: repeat; 
}
.bg-nav{
    background-color: #e5eef6;
    border-bottom: 1px solid #74a3d0;
}
.loginnav{
    background: #3e4759;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: #fff !important;
    margin-right: 10px;
}
.signuplogin{
    background: #74c045;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    color: #fff !important;
}
.cust-nav{
    padding-right: 100px;
}
.logonav{
    padding-left: 100px;
}
.dashboard, .profile, .logout{
    background: #3e4759;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: #fff !important;
    margin-right: 10px;
}